.contact {
  background: $bg-color;
}

.main-contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 2rem;
}

.contact-content img {
  height: auto;
  width: 160px;
  max-width: 100%;
  margin-bottom: 30px;
}
.contact-content li {
  margin-bottom: 18px;
}

.contact-content li a {
  display: block;
  color: $text-color;
  font-weight: 500;
  font-size: 15px;
  transition: $smooth;
}

.contact-content li a:hover {
  transform: translateX(10px);
  color: $main-color;
}
