*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: $bg-color;
  color: $text-color;
}

img {
  max-width: 100%;
  width: 100%;
}

section {
  padding: 80px 13% 40px;
  @include tab-pc {
    padding: 60px 3% 20px;
  }
}
